# ignore all files
*
# specify directories to ignore
data/
results/
output/
__pycache__/
simulation_env/
*.csv
*.npy
*.npz
*.pkl
*.gii
*.gii.gz
*.pyc


# allow directories
!*/

# allow scripts directory
!scripts/
!scripts/**

# a;llow specific files
!.gitignore
!README.md
!requirements.txt